body {
    background-color: lightgray;
}

#resultTable, #eventDetailTable {
    border: 2px solid black;
    margin: 20px 400px;
}

#resultTable td, #eventDetailTable td {
    border: 2px solid darkgray;
    text-align: center;
}

#resultTable tr.hidden {
    display: none;
}

.header {
    /* border: 2px solid green; */
    text-align: center;
}

.detailTableHeader {
    width: 15%;
}

a {
    color: blue;
}

